<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title"> Кастомизация <span><i class="ti-close right-side-toggle"></i></span> </div>
        <div class="r-panel-body">
            <ul id="themecolors" class="m-t-20">
                <li><b>Светлое меню</b></li>
                <li><a id="color_1_1" href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                <li><a id="color_1_2" href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                <li><a id="color_1_3" href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                <li><a id="color_1_4" href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                <li><a id="color_1_5" href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                <li><a id="color_1_6" href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                <li class="d-block m-t-30"><b>Темное меню</b></li>
                <li><a id="color_2_1" href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme">7</a></li>
                <li><a id="color_2_2" href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                <li><a id="color_2_3" href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                <li><a id="color_2_4" href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                <li><a id="color_2_5" href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                <li><a id="color_2_6" href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
            </ul>

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">
    © 2018 Eliteadmin by themedesigner.in
</footer>

