<% include partials/header.ejs %>
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Изменить заявку</h4>
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Основная информация</h5>
                            <form class="form-material form-horizontal m-t-30" action="/requests/<%=req._id%>" method="post">

                                <div class="form-group">
                                    <label class="col-md-12" >ФИО</span>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text"  name="fio" class="form-control" value="<%=req.fio%>" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" >Email</span>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="email"  name="email" class="form-control" value="<%=req.email%>" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" >Номер телефона</span>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" name="telNumber" class="form-control" value="<%=req.telNumber%>" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Комментарий</label>
                                    <div class="col-md-12">
                                        <textarea name="initialComments" class="form-control" rows="3"><%=req.initialComments%></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" >Дата заявки</span>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text"  name="initialDate" class="form-control mydatepicker" placeholder="выберите дату поступления заявки"
                                        value="<%=req.initialDate%>" required>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Сохранить</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->

    <!-- footer -->
    <!-- ============================================================== -->
<% include partials/footer.ejs %>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/eliteadmin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/eliteadmin/assets/node_modules/popper/popper.min.js"></script>
<script src="/eliteadmin/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/eliteadmin/crm/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/eliteadmin/crm/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/eliteadmin/crm/dist/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/eliteadmin/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="/eliteadmin/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="/eliteadmin/crm/dist/js/custom.min.js"></script>
<script src="/eliteadmin/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    jQuery('.mydatepicker').datepicker();
</script>
<script src="/eliteadmin/crm/dist/js/pages/jasny-bootstrap.js"></script>
<script src="/eliteadmin/crm/dist/js/pages/mask.js"></script>
<!-- end - This is for export functionality only -->
<!--Style Switcher -->
<script>
    $('#<%=user.colortheme%>').click();
</script>
<script>
    $('#requests').addClass('active');
</script>
</body>

</html>