<% include partials/header.ejs %>

    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Профиль</h4>
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <center class="m-t-30"> <img src="<%=user.img%>" class="img-circle" width="150" />
                                <h4 class="card-title m-t-10"><%=user.fullName%></h4>
                                <h6 class="card-title m-t-10"><%=user.username%></h6>
                            </center>
                        </div>


                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                                <div class="card-body">
                                    <form class="form-horizontal form-material" action="/profile" method="post">
                                        <div class="form-group">
                                            <label class="col-md-12">Название организации</label>
                                            <div class="col-md-12">
                                                <input type="text"  class="form-control form-control-line" name="fullName"
                                                value="<%=user.fullName%>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-email" class="col-md-12">Email</label>
                                            <div class="col-md-12">
                                                <input type="email" class="form-control form-control-line" name="email"
                                                value="<%=user.email%>">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-12">Номер телефона</label>
                                            <div class="col-md-12">
                                                <input type="text"  class="form-control form-control-line" name="telNumber"
                                                value="<%=user.telNumber%>">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button class="btn btn-success">Сохранить</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material" action="/profile/img" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-md-12">Фото профиля</label>
                                    <div class="col-md-12">
                                        <input type="file"  class="form-control form-control-line" name="file">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Обновить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->

            <!-- ============================================================== -->
            <!-- End Right sidebar -->

    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
<% include partials/footer.ejs %>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/eliteadmin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/eliteadmin/assets/node_modules/popper/popper.min.js"></script>
<script src="/eliteadmin/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/eliteadmin/crm/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/eliteadmin/crm/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/eliteadmin/crm/dist/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/eliteadmin/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="/eliteadmin/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="/eliteadmin/crm/dist/js/custom.min.js"></script>
<script>
    $('#<%=user.colortheme%>').click();
</script>



</body>

</html>