<% include partials/header.ejs %>
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Новые заявки</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">

                        <a href="/requests/new" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Добавить заявку</a>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Необработанные заявки</h5>

                            <div class="table-responsive">
                                <table id="initTable" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ФИО</th>
                                        <th>Email</th>
                                        <th>Номер телефона</th>
                                        <th>Дата заявки</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody class="initRows">
                                    <% if (requests_init !== undefined) {%>
                                    <% requests_init.forEach(function (req) {  %>
                                    <tr id="init_<%=req._id%>">
                                        <td><%=req.fio%></td>
                                        <td><%=req.email%></td>
                                        <td><%=req.telNumber%></td>
                                        <td><%=req.initialDate%></td>
                                        <td>
                                            <a class="btn waves-effect waves-light btn-success mr-2 toTalksBtn" href="/requests/<%=req._id%>/totalks"
                                               data-id="<%=req._id%>"
                                               data-fio="<%=req.fio%>"
                                            data-email="<%=req.email%>"
                                            data-telNumber="<%=req.telNumber%>"
                                            data-initDate="<%=req.initialDate%>"><i class="fas fa-arrow-down"></i> </a>
                                            <a class="btn waves-effect waves-light btn-info mr-2" href="/requests/<%=req._id%>"><i class="fas fa-info"></i> </a>
                                            <button data-toggle="modal" data-target="#deleteConfirm" class="btn waves-effect waves-light btn-danger delModalBtn" data-id="<%=req._id%>" data-status="init"><i class="fas fa-trash-alt"></i> </button>
                                        </td>

                                    </tr>
                                    <%});}%>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Переговоры</h5>

                            <div class="table-responsive">
                                <table id="talksTable" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ФИО</th>
                                        <th>Email</th>
                                        <th>Номер телефона</th>
                                        <th>Дата заявки</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody class="talksRows">
                                    <% if (requests_talks !== undefined) {%>
                                    <% requests_talks.forEach(function (req) {  %>
                                    <tr id="talks_<%=req._id%>">
                                        <td><%=req.fio%></td>
                                        <td><%=req.email%></td>
                                        <td><%=req.telNumber%></td>
                                        <td><%=req.initialDate%></td>
                                        <td>
                                            <a class="btn waves-effect waves-light btn-success mr-2 toInitBtn" href="/requests/<%=req._id%>/toinit"
                                               data-id="<%=req._id%>"
                                               data-fio="<%=req.fio%>"
                                               data-email="<%=req.email%>"
                                               data-telNumber="<%=req.telNumber%>"
                                               data-initDate="<%=req.initialDate%>"><i class="fas fa-arrow-up"></i> </a>
                                            <a class="btn waves-effect waves-light btn-success mr-2 toWorkBtn" href="/requests/<%=req._id%>/towork"
                                               data-id="<%=req._id%>"
                                               data-fio="<%=req.fio%>"
                                               data-email="<%=req.email%>"
                                               data-telNumber="<%=req.telNumber%>"
                                               data-initDate="<%=req.initialDate%>"><i class="fas fa-arrow-down"></i> </a>
                                            <a class="btn waves-effect waves-light btn-info mr-2" href="/requests/<%=req._id%>"><i class="fas fa-info"></i> </a>
                                            <button data-toggle="modal" data-target="#deleteConfirm" class="btn waves-effect waves-light btn-danger delModalBtn" data-id="<%=req._id%>" data-status="talks"><i class="fas fa-trash-alt"></i> </button>
                                        </td>

                                    </tr>
                                    <%});}%>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">В работе</h5>

                            <div class="table-responsive">
                                <table id="workTable" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ФИО</th>
                                        <th>Email</th>
                                        <th>Номер телефона</th>
                                        <th>Дата заявки</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody class="workRows">
                                    <% if (requests_work !== undefined) {%>
                                    <% requests_work.forEach(function (req) {  %>
                                    <tr id="work<%=req._id%>">
                                        <td><%=req.fio%></td>
                                        <td><%=req.email%></td>
                                        <td><%=req.telNumber%></td>
                                        <td><%=req.initialDate%></td>
                                        <td>
                                            <a class="btn waves-effect waves-light btn-success mr-2 toTalksBtn" href="/requests/<%=req._id%>/totalks"
                                               data-id="<%=req._id%>"
                                               data-fio="<%=req.fio%>"
                                               data-email="<%=req.email%>"
                                               data-telNumber="<%=req.telNumber%>"
                                               data-initDate="<%=req.initialDate%>"><i class="fas fa-arrow-up"></i> </a>
                                            <a class="btn waves-effect waves-light btn-info mr-2" href="/requests/<%=req._id%>"><i class="fas fa-info"></i> </a>
                                            <button data-toggle="modal" data-target="#deleteConfirm" class="btn waves-effect waves-light btn-danger delModalBtn" data-id="<%=req._id%>" data-status="work"><i class="fas fa-trash-alt"></i> </button>
                                        </td>

                                    </tr>
                                    <%});}%>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Завершенные</h5>

                            <div class="table-responsive">
                                <table id="doneTable" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ФИО</th>
                                        <th>Email</th>
                                        <th>Номер телефона</th>
                                        <th>Дата заявки</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody class="doneRows">
                                    <% if (requests_done !== undefined) {%>
                                    <% requests_done.forEach(function (req) {  %>
                                    <tr id="done<%=req._id%>">
                                        <td><%=req.fio%></td>
                                        <td><%=req.email%></td>
                                        <td><%=req.telNumber%></td>
                                        <td><%=req.initialDate%></td>
                                        <td>
                                            <a class="btn waves-effect waves-light btn-success mr-2 toWorkBtn" href="/requests/<%=req._id%>/towork"
                                               data-id="<%=req._id%>"
                                               data-fio="<%=req.fio%>"
                                               data-email="<%=req.email%>"
                                               data-telNumber="<%=req.telNumber%>"
                                               data-initDate="<%=req.initialDate%>"><i class="fas fa-arrow-up"></i> </a>
                                            <a class="btn waves-effect waves-light btn-info mr-2" href="/requests/<%=req._id%>"><i class="fas fa-info"></i> </a>
                                            <button data-toggle="modal" data-target="#deleteConfirm" class="btn waves-effect waves-light btn-danger delModalBtn" data-id="<%=req._id%>" data-status="done"><i class="fas fa-trash-alt"></i> </button>
                                        </td>

                                    </tr>
                                    <%});}%>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->

            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
<% include partials/footer.ejs %>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<div class="modal" tabindex="-1" role="dialog" id="deleteConfirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вы уверены что хотите удалить заявку?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">

                    <button id="delBtn" data-leadid="null" data-status="null" type="submit" class="btn btn-secondary">Удалить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>


            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/eliteadmin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/eliteadmin/assets/node_modules/popper/popper.min.js"></script>
<script src="/eliteadmin/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/eliteadmin/crm/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/eliteadmin/crm/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/eliteadmin/crm/dist/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/eliteadmin/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="/eliteadmin/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="/eliteadmin/crm/dist/js/custom.min.js"></script>
<script src="/eliteadmin/assets/node_modules/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

        <!-- end - This is for export functionality only -->
<script>
    $(function() {

        $('#initTable').DataTable({

            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            'fnCreatedRow': function (nRow) {

                $(nRow).attr('id', 'init_' + $(nRow).find('a.toTalksBtn').attr('data-id')); // or whatever you choose to set as the id
            },
        });

        $('#talksTable').DataTable({

            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            'fnCreatedRow': function (nRow) {

                $(nRow).attr('id', 'talks_' + $(nRow).find('a.toInitBtn').attr('data-id')); // or whatever you choose to set as the id
            },
        });

        $('#workTable').DataTable({

            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            'fnCreatedRow': function (nRow) {

                $(nRow).attr('id', 'work_' + $(nRow).find('a.toTalksBtn').attr('data-id')); // or whatever you choose to set as the id
            },
        });

        $('#doneTable').DataTable({

            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            'fnCreatedRow': function (nRow) {

                $(nRow).attr('id', 'done_' + $(nRow).find('a.toWorkBtn').attr('data-id')); // or whatever you choose to set as the id
            },
        });

        $('body').on('click', '.toTalksBtn',function () {

            var $this = $(this);

            $.ajax({
                type: "GET",
                url: $this.attr('href'),
                success: function(){

                    var row = [
                         $this.attr('data-fio'),
                        $this.attr('data-email'),
                        $this.attr('data-telNumber'),
                    $this.attr('data-initDate'),

                    '<a class="btn waves-effect waves-light btn-success mr-2 toInitBtn" href="/requests/'+$this.attr('data-id')+'/toinit" ' +
                        'data-id="' +$this.attr('data-id')  + '" ' +
                        'data-fio="' +$this.attr('data-fio')  + '" ' +
                        'data-email="' +$this.attr('data-email')  + '" ' +
                        'data-telNumber="' +$this.attr('data-telNumber')  + '" ' +
                        'data-initDate="' +$this.attr('data-initDate')  + '" ' +
                        '><i class="fas fa-arrow-up"></i> </a>\n' +
                    '<a class="btn waves-effect waves-light btn-success mr-2 toWorkBtn" href="/requests/'+$this.attr('data-id')+'/towork" ' +
                    'data-id="' +$this.attr('data-id')  + '" ' +
                    'data-fio="' +$this.attr('data-fio')  + '" ' +
                    'data-email="' +$this.attr('data-email')  + '" ' +
                    'data-telNumber="' +$this.attr('data-telNumber')  + '" ' +
                    'data-initDate="' +$this.attr('data-initDate')  + '" ' +
                    '><i class="fas fa-arrow-down"></i> </a>\n' +
                    '<a class="btn waves-effect waves-light btn-info mr-2" href="/requests/'+$this.attr('data-id')+'"><i class="fas fa-info"></i> </a>\n' +
                    '<button data-toggle="modal" data-target="#deleteConfirm" class="btn waves-effect waves-light btn-danger delModalBtn" data-id="' + $this.attr('data-id')+ '" data-status="talks"><i class="fas fa-trash-alt"></i> </button>\n'

                    ];




                    $this.closest('tr').addClass('selected');
                    $('#initTable').DataTable().row('.selected').remove().draw();
                    $('#workTable').DataTable().row('.selected').remove().draw();
                    $('#talksTable').DataTable().row.add(row).draw();


                }
            });
            return false;
        });

        $('body').on('click', '.toInitBtn', function () {

            var $this = $(this);

            $.ajax({
                type: "GET",
                url: $this.attr('href'),
                success: function(){
                    var row = [
                        $this.attr('data-fio'),
                        $this.attr('data-email'),
                        $this.attr('data-telNumber'),
                        $this.attr('data-initDate'),

                        '<a class="btn waves-effect waves-light btn-success mr-2 toTalksBtn" href="/requests/'+$this.attr('data-id')+'/totalks" ' +
                        'data-id="' +$this.attr('data-id')  + '" ' +
                        'data-fio="' +$this.attr('data-fio')  + '" ' +
                        'data-email="' +$this.attr('data-email')  + '" ' +
                        'data-telNumber="' +$this.attr('data-telNumber')  + '" ' +
                        'data-initDate="' +$this.attr('data-initDate')  + '" ' +
                        '><i class="fas fa-arrow-down"></i> </a>\n' +
                        '<a class="btn waves-effect waves-light btn-info mr-2" href="/requests/'+$this.attr('data-id')+'"><i class="fas fa-info"></i> </a>\n' +
                        '<button data-toggle="modal" data-target="#deleteConfirm" class="btn waves-effect waves-light btn-danger delModalBtn" data-id="' + $this.attr('data-id')+ '" data-status="init"><i class="fas fa-trash-alt"></i> </button>\n'


                    ];


                    $this.closest('tr').addClass('selected');
                    $('#talksTable').DataTable().row('.selected').remove().draw();
                    $('#initTable').DataTable().row.add(row).draw();

                }
            });
            return false;
        });

        $('body').on('click', '.toWorkBtn', function () {

            var $this = $(this);

            $.ajax({
                type: "GET",
                url: $this.attr('href'),
                success: function(){
                    var row = [
                        $this.attr('data-fio'),
                        $this.attr('data-email'),
                        $this.attr('data-telNumber'),
                        $this.attr('data-initDate'),

                        '<a class="btn waves-effect waves-light btn-success mr-2 toTalksBtn" href="/requests/'+$this.attr('data-id')+'/totalks" ' +
                        'data-id="' +$this.attr('data-id')  + '" ' +
                        'data-fio="' +$this.attr('data-fio')  + '" ' +
                        'data-email="' +$this.attr('data-email')  + '" ' +
                        'data-telNumber="' +$this.attr('data-telNumber')  + '" ' +
                        'data-initDate="' +$this.attr('data-initDate')  + '" ' +
                        '><i class="fas fa-arrow-up"></i> </a>\n' +
                        '<a class="btn waves-effect waves-light btn-success mr-2 toDoneBtn" href="/requests/'+$this.attr('data-id')+'/todone" ' +
                        'data-id="' +$this.attr('data-id')  + '" ' +
                        'data-fio="' +$this.attr('data-fio')  + '" ' +
                        'data-email="' +$this.attr('data-email')  + '" ' +
                        'data-telNumber="' +$this.attr('data-telNumber')  + '" ' +
                        'data-initDate="' +$this.attr('data-initDate')  + '" ' +
                        '><i class="fas fa-arrow-down"></i> </a>\n' +
                        '<a class="btn waves-effect waves-light btn-info mr-2" href="/requests/'+$this.attr('data-id')+'"><i class="fas fa-info"></i> </a>\n' +
                        '<button data-toggle="modal" data-target="#deleteConfirm" class="btn waves-effect waves-light btn-danger delModalBtn" data-id="' + $this.attr('data-id')+ '" data-status="work"><i class="fas fa-trash-alt"></i> </button>\n'


                    ];


                    $this.closest('tr').addClass('selected');
                    $('#talksTable').DataTable().row('.selected').remove().draw();
                    $('#doneTable').DataTable().row('.selected').remove().draw();
                    $('#workTable').DataTable().row.add(row).draw();

                }
            });
            return false;
        });

        $('body').on('click', '.toDoneBtn', function () {

            var $this = $(this);

            $.ajax({
                type: "GET",
                url: $this.attr('href'),
                success: function(){
                    var row = [
                        $this.attr('data-fio'),
                        $this.attr('data-email'),
                        $this.attr('data-telNumber'),
                        $this.attr('data-initDate'),

                        '<a class="btn waves-effect waves-light btn-success mr-2 toWorkBtn" href="/requests/'+$this.attr('data-id')+'/towork" ' +
                        'data-id="' +$this.attr('data-id')  + '" ' +
                        'data-fio="' +$this.attr('data-fio')  + '" ' +
                        'data-email="' +$this.attr('data-email')  + '" ' +
                        'data-telNumber="' +$this.attr('data-telNumber')  + '" ' +
                        'data-initDate="' +$this.attr('data-initDate')  + '" ' +
                        '><i class="fas fa-arrow-up"></i> </a>\n' +
                        '<a class="btn waves-effect waves-light btn-info mr-2" href="/requests/'+$this.attr('data-id')+'"><i class="fas fa-info"></i> </a>\n' +
                        '<button data-toggle="modal" data-target="#deleteConfirm" class="btn waves-effect waves-light btn-danger delModalBtn" data-id="' + $this.attr('data-id')+ '" data-status="done"><i class="fas fa-trash-alt"></i> </button>\n'


                    ];


                    $this.closest('tr').addClass('selected');

                    $('#workTable').DataTable().row('.selected').remove().draw();
                    $('#doneTable').DataTable().row.add(row).draw();

                }
            });
            return false;
        });

        $('body').on('click','.delModalBtn', function () {
            $('#delBtn').attr('data-leadid', $(this).attr('data-id'));
            $('#delBtn').attr('data-status', $(this).attr('data-status'));
            $(this).closest('tr').addClass('selected');
        });

        $('#delBtn').on('click', function () {
            console.log("/requests/"+$(this).attr('data-leadid'));
            $.ajax({
                type: "DELETE",
                url: "/requests/"+$(this).attr('data-leadid'),
                success: function(){

                    $('#deleteConfirm').modal('hide');
                    $('#initTable').DataTable().row('.selected').remove().draw();
                    $('#talksTable').DataTable().row('.selected').remove().draw();
                    $('#workTable').DataTable().row('.selected').remove().draw();
                    $('#doneTable').DataTable().row('.selected').remove().draw();
                }
            });
        });
    })
</script>

<script>
    $('#requests').addClass('active');
</script>

<script>
    $('#'+'<%=user.colortheme%>').click();
</script>
<!--Style Switcher -->
</body>

</html>